<h3 style="text-align: center;">Available Devices</h3>

<div class="container" id="device-list">
  <button
    class="btn btn-success"
    [routerLink]="['/add-device']"
    routerLinkActive="router-link-active"
  >
    Add Device
  </button>

  <div class="mt-2"><p>Showing 3 Devices</p></div>

  <table class="table mt-3">
    <tr>
      <th>Device</th>
      <th>Description</th>
      <th>Last Connection</th>
    </tr>
    <tr *ngFor="let device of devices">
      <td [routerLink]="['/device']" routerLinkActive="router-link-active">
        {{ device.deviceId }}
      </td>
      <td>{{ device.deviceDescription }}</td>
      <td>Never</td>
    </tr>
  </table>
</div>
