<nav
  class="navbar navbar-dark bg-primary navbar-expand shadow disable-selection"
>
  <div class="container">
    <a
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
      class="navbar-brand"
      >IoTx</a
    >
    <!-- Nav Items  -->
    <div>
      <ul class="navbar-nav ml-auto">
        <!-- User  -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              src="../../../assets/yoda.png"
              alt="Master Yoda"
              class=".img-rounded logo"
            />
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Logout</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Login</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
