<nav
  class="navbar navbar-dark bg-primary navbar-expand shadow disable-selection"
>
  <div class="container">
    <a
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
      class="navbar-brand"
      >IoTx</a
    >
    <!-- Nav Items  -->
    <div>
      <ul class="navbar-nav ml-auto">
        <!-- User  -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              src="../../../assets/yoda.png"
              alt="Master Yoda"
              class=".img-rounded logo"
            />
          </a>
          <div
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="navbarDropdown"
          >
            <a
              *ngIf="loginService.isUserLoggedIn()"
              class="dropdown-item"
              [routerLink]="['/logout']"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              >Logout</a
            >
            <!-- <div class="dropdown-divider"></div> -->
            <a
              *ngIf="!loginService.isUserLoggedIn()"
              class="dropdown-item"
              [routerLink]="['/login']"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              >Login</a
            >
            <a
              *ngIf="!loginService.isUserLoggedIn()"
              class="dropdown-item"
              [routerLink]="['/register']"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              >Register</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
