.navbar {
  background-color: teal !important;
  height: 50px;
}

.navbar-brand {
  font-family: "Alfa Slab One" !important;
  font-size: 24px;
}

.logo {
  height: 41px;
  background-size: 50px 41px;
}
