<h3 style="text-align: center;">Add a New Device</h3>
<form action="">
  <!-- Device Type  -->
  <div class="form-group">
    <label>Device Type</label>
    <input type="text" class="form-control" />
  </div>

  <!-- Device Type  -->
  <div class="form-group">
    <label>Device Id</label>
    <input
      type="text"
      class="form-control"
      placeholder="Enter a unique device identification"
    />
    <!-- Try to get a dropdown here with a list of supported devices  -->
  </div>

  <!-- Device Type  -->
  <div class="form-group">
    <label>Device Description</label>
    <input
      type="text"
      class="form-control"
      placeholder="Enter device description"
    />
  </div>

  <!-- Device Type  -->
  <div class="form-group">
    <label>Device Token</label>
    <input
      type="text"
      class="form-control"
      placeholder="Enter a device token or generate one"
    />
    <button id="credit-gen" class="btn btn-success mt-2">
      Generate a Random Token
    </button>
  </div>

  <!-- Add Device Button  -->
  <button class="btn btn-dark btn-block">
    Add Device
  </button>
</form>
