<div class="container">
  <!-- Displayed when logged in  -->
  <app-stats *ngIf="loginService.isUserLoggedIn()"></app-stats>
  <!-- Displayed when Logged out -->
  <div *ngIf="!loginService.isUserLoggedIn()" class="row">
    <div class="col-md-8 col-center" style="text-align: center;">
      <h1>Welcome</h1>
      <h3>Placeholder greeting page</h3>
      <div class="container">
        <button
          class="btn btn-primary"
          [routerLink]="['/login']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Login
        </button>
        <button
          class="btn btn-primary"
          [routerLink]="['/register']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Register
        </button>
      </div>
    </div>
  </div>
</div>
