#root {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#navbar {
  /* border: 1px solid black; */
}

#body {
  /* border: 1px solid black; */
  flex-grow: 1;

  display: flex;
  flex-direction: row;
}

#sidenav {
  /* border: 1px solid black; */
}

#router {
  /* border: 1px solid black; */
  flex-grow: 1;
  background-color: rgb(255, 255, 255);
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  #sidenav {
    /* border: 1px solid black; */
    position: fixed;
  }

  #router {
    /* border: 1px solid black; */
    padding-top: 35px;
  }
}
