/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Fira Sans", sans-serif;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.oblique {
  font-style: oblique;
}

.disable-selection {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.btn-success {
  background-color: teal !important ;
}
